<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historico - S.F.P</title>
</head>
<body>
    <header>
        <h1>S.F.P - Sistema Financeiro Pessoal</h1>
        <p>Descubra seu Historico, e melhore seu futuro</p>
    </header>
    <form action="#" method="post">
        <div>
            <label for="action"><input type="text" name="Historico"></label>

        </div>
    </form>
    
</body>
</html>