<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sistema Financeiro Pessoal</title>
</head>
<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"> 
                <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo" class="Logo">
            </a>
            <nav class="navegation">
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="text">
            <h2>Sistema Financeiro Pessoal</h2>
            <p>Gerencie suas finanças de forma eficiente e prática com nosso sistema financeiro pessoal. Controle seus gastos, acompanhe seu orçamento e alcance seus objetivos financeiros.</p>
        <a href="{{ url_for('login') }}" class="btn">Comece Agora</a>
            </div>
        </div>
        
        <ul class="icons">
            <li><a href="#"><img src="{{ url_for('static', filename='image/facebook.png') }}" alt="Facebook"></a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='image/twitter.png') }}" alt="Twitter"></a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='image/instagram.png') }}" alt="Instagram"></a></li>
        </ul>
    </section>
</body>
</html>